[submodule "myblog/themes/apollo"]
	path = myblog/themes/apollo
	url = https://github.com/not-matthias/apollo
[submodule "myblog/themes/DeepThought"]
	path = myblog/themes/DeepThought
	url = https://github.com/RatanShreshtha/DeepThought
